body {

    padding: 0%;
    margin: 0%;
    width: 100%;
    height: max-content;
    overflow: hidden;

}

#svg_container{
 
    padding: 0;
    margin: 0;
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;

}

#Yellow_car{

    animation: Yellow-car-left-to-right 30s linear  infinite ;

} 
#Magenta_car{
   
    visibility: hidden;
    animation: Magenta-car-left-to-right 31.5s linear 15s infinite;
    
}

#Green_airship{

    
    animation: Green-airship-left-to-right 125s linear infinite;
}

#Pink_airship{

    visibility: hidden;
    animation: Pink-airship-right-to-left 105s linear 3s infinite;
}

#Orange_car{

    visibility: hidden;
    animation: Orange-car-right-to-left  38.5s linear 10s infinite;
    
}

#Pink_car{
  
    visibility: hidden;
    animation: Pink-car-right-to-left 31.5s  linear 15s infinite;

     
}

#Blue_bus{
  
    
    animation: Blue-bus-right-to-left 31.5s linear infinite;


}

#Yellow_carrier_machine{

     
    animation: Yellow-carrier-machine-right-to-left 40s linear infinite ;

    
}

#Concrete_panels{
    
    animation: Concrete-panel-right-to-left 40s linear infinite ;
    
}

#Drill_shaft{

    animation: Drill-shaft-right-to-left 5s linear infinite alternate;  
    
}

#Dirt_1{

    animation: Dirt-left-to-right 20s linear infinite ;
}

#Dirt_2{

    animation: Dirt-left-to-right 20s linear 5s infinite ;
}

#Dirt_3{

    animation: Dirt-left-to-right 20s linear 10s infinite ;
}

#Bg_city_3{

    
    animation: City3-left-to-right 480s linear 1s infinite; 
}

#Bg_city_4{

    
    animation: City4-left-to-right 480s linear 1s infinite;
}

#Bg_city_5{


    transform: translateX(-50%);
    animation: City5-left-to-right 480s linear 1s infinite;
}



#inner_blades{
    
    transform-origin: 307px 514px;  
    transform: matrix3d(0.31,0,0.95,0,0.00,1,0.00,0,-0.95,0,0.31,0,0,0,0,1) translate(-0.25%);
    animation: testrotate 12s linear infinite;

    
}





/*-------------------------------------------------------------------------------------------------
 Animation  keyframes for footer elements
 --------------------------------------------------------------------------------------------------   
 */

@keyframes Yellow-car-left-to-right{
    0%{

        transform: translateX(-3%);
        

    }
    
    90%{
        
        transform: translateX(100%);
       
    }
    100%{

        transform: translateX(100%);

    }
}
@keyframes Magenta-car-left-to-right {
    
    0%{
        
        transform: translateX(-8%);
       
    }
    
    88.89%{
        
        transform: translateX(100%);
      
       
    }
    100%{
        transform: translateX(100%);
    }
} 
@keyframes Green-airship-left-to-right {

    0%{
        transform: translateX(-5%);
        
    }
    95.84%{
        transform: translateX(100%);
        
        
    }
    100%{

        transform: translateX(100%);
    }
}
@keyframes Pink-airship-right-to-left  {
    0%{
        
        transform: translateX(4%);
        
    }
    95.24%{
        transform: translateX(-100%);
        
        
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes Orange-car-right-to-left  {
    0%{
        
        transform: translateX(17%);
        
    }
    90.91%{
        transform: translateX(-90%)    
    }
    100%{
        transform: translateX(-90%);
    }
}

@keyframes Pink-car-right-to-left  {
    0%{
        transform: translateX(11%);
        
    }
    88.89%{
        transform: translateX(-93%);

        
    }
    100%{
        transform: translateX(-93%)
    }

}

@keyframes Blue-bus-right-to-left  {
    0%{
        transform: translateX(7%);
        
    }
    88.89%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes Yellow-carrier-machine-right-to-left  {
    0%{
        transform: translateX(13%);
        /* visibility: visible; */
    }
    37.5%{
        transform: translateX(-46%);
    }
    50%{
        transform: translateX(-46%);
    }
    87.5%{
        transform: translateX(13%);
       
    }
    100%{
        transform: translateX(13%);
        /* visibility: hidden; */
    }
    
}

@keyframes Concrete-panel-right-to-left {
    0%{
        transform: translateX(13%);
        /* visibility: visible; */
    }
    37.5%{
        transform: translateX(-46%);
    }
    100%{
        transform: translateX(-46%);
        /* visibility: hidden; */
    }
    
}

@keyframes Drill-shaft-right-to-left {
  
    100%{
        transform: translateX(-2.5%);
    }
}


@keyframes Dirt-left-to-right {
  
    75%{
        transform: translateX(48%);
    }
    100%{
        transform: translateX(48%);
    }
}


@keyframes City3-left-to-right{
  
    33.33%{
        transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        transform: translateX(-50%);
    }
    100%{

        transform: translateX(0%);
    }
}

@keyframes City4-left-to-right{
  
    66.66%{
        transform: translateX(100%);
        
    }
    66.67%{
        
        transform: translateX(-50%);

        
    }
    100%{

        visibility: visible;

        transform: translateX(0%);
    }
}


@keyframes City5-left-to-right{
    0%{
        visibility: visible;

    }

    100%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}

@keyframes testrotate {

    100%{
        
        transform: matrix3d(0.31,0,0.95,0,0.00,1,0.00,0,-0.95,0,0.31,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,360deg)  ;
    
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,360deg) ;
        
    }

}

/*--------------------------------------------------------------------------------------------------
 Prefixed Animation keyframes declaration for browser preference
 ---------------------------------------------------------------------------------------------------- */

 @-webkit-keyframes Yellow-car-left-to-right{
    0%{
        transform: translateX(-3%);
    

    }
    
    90%{
        
        transform: translateX(100%);
    
    }
    100%{

        transform: translateX(100%);

    }
}
@-webkit-keyframes Magenta-car-left-to-right {
    
    0%{
        transform: translateX(-8%);
        

    }
    
    88.89%{
        
        transform: translateX(100%);
       
       
    }
    100%{
        transform: translateX(100%);
    }
} 
@-webkit-keyframes Green-airship-left-to-right {

    0%{
        transform: translateX(-5%);
       
    }
    95.84%{
        transform: translateX(100%);
        
        
    }
    100%{

        transform: translateX(100%);
    }
}
@-webkit-keyframes Pink-airship-right-to-left  {
    0%{
        
        transform: translateX(4%);
        
    }
    95.24%{
        transform: translateX(-100%);
        
        
    }
    100%{
        transform: translateX(-100%);
    }
}

@-webkit-keyframes Orange-car-right-to-left  {
    0%{
        
        transform: translateX(17%);
       
    }
    90.91%{
        transform: translateX(-90%)    
    }
    100%{
        transform: translateX(-90%);
    }
}

@-webkit-keyframes Pink-car-right-to-left  {
    0%{
        transform: translateX(11%);
        
    }
    88.89%{
        transform: translateX(-93%);

        
    }
    100%{
        transform: translateX(-93%)
    }

}

@-webkit-keyframes Blue-bus-right-to-left  {
    0%{
        transform: translateX(7%);
       
    }
    88.89%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(-100%);
    }
}

@-webkit-keyframes Yellow-carrier-machine-right-to-left  {
    0%{
        transform: translateX(13%);
        
    }
    37.5%{
        transform: translateX(-46%);
    }
    50%{
        transform: translateX(-46%);
    }
    87.5%{
        transform: translateX(13%);
       
    }
    100%{
        transform: translateX(13%);
        
    }
    
}

@-webkit-keyframes Concrete-panel-right-to-left {
    0%{
        transform: translateX(13%);
        
    }
    37.5%{
        transform: translateX(-46%);
    }
    100%{
        transform: translateX(-46%);
        
    }
    
}

@-webkit-keyframes Drill-shaft-right-to-left {
  
    100%{
        transform: translateX(-2.5%);
    }
}


@-webkit-keyframes Dirt-left-to-right {
  
    75%{
        transform: translateX(48%);
    }
    100%{
        transform: translateX(48%);
    }
}


@-webkit-keyframes City3-left-to-right{
  
    33.33%{
        transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        transform: translateX(-50%);
    }
    100%{

        transform: translateX(0%);
    }
}

@-webkit-keyframes City4-left-to-right{
  
    66.66%{
        transform: translateX(100%);
        
    }
    66.67%{
        
        transform: translateX(-50%);

        
    }
    100%{

        visibility: visible;

        transform: translateX(0%);
    }
}


@-webkit-keyframes City5-left-to-right{
    0%{
        visibility: visible;

    }

    100%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}

@-webkit-keyframes testrotate {

    100%{
        
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,360deg) ;
        
    }

}





