body {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%

}

#Animation {
    display: flex;
    flex-grow: 1;
}

#Animation_container{
    width: 100%;
    height: max-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#Yellow_car{

    visibility: hidden;
    animation: Yellow-car-left-to-right 30s linear  infinite ;
        /* 50 */
} 
#Magenta_car{
   
    visibility: hidden;
    animation: Magenta-car-left-to-right 31.5s linear 15s infinite;
    /* 45 */
}

#Green_airship{

    visibility: hidden;
    animation: Green-airship-left-to-right 125s linear infinite;
}

#Pink_airship{

    visibility: hidden;
    animation: Pink-airship-right-to-left 105s linear 3s infinite;
}

#Orange_car{

    visibility: hidden;
    animation: Orange-car-right-to-left 38.5s linear 10s infinite;
    /* 55 */
}

#Pink_car{
  
    visibility: hidden;
    animation: Pink-car-right-to-left 31.5s linear 15s infinite;
     /* 45 */

}

#Blue_bus{
  
    visibility: hidden;
    animation: Blue-bus-right-to-left 31.5s linear infinite;
     /* 45 */

}

#Yellow_carrier_machine{

     visibility: hidden;
    animation: Yellow-carrier-machine-right-to-left 40s linear infinite ;

    
}

#Concrete_panels{
    visibility: hidden;
    animation: Concrete-panel-right-to-left 40s linear infinite ;
    
}

#Drill_shaft{

    animation: Drill-shaft-right-to-left 5s linear infinite alternate;  
    
}

#Dirt_1{

    animation: Dirt-left-to-right 20s linear infinite ;
}

#Dirt_2{

    animation: Dirt-left-to-right 20s linear 5s infinite ;
}

#Dirt_3{

    animation: Dirt-left-to-right 20s linear 10s infinite ;
}


/* test config for city and road  */
/* #Bg_city_2{

    animation: City2-left-to-right 420s linear 1s infinite; 
}

#Bg_city_1{

    
    animation: City1-left-to-right 420s linear 1s infinite;
} */
#Bg_city_3{

    
    animation: City3-left-to-right 480s linear 1s infinite; 
}

#Bg_city_4{

    
    animation: City4-left-to-right 480s linear 1s infinite;
}

#Bg_city_5{


    transform: translateX(-50%);
    animation: City5-left-to-right 480s linear 1s infinite;
}

/* Road marking animation declaration and initial config */

/* #Road_marking_1{

    animation: Road-marking1-left-to-right 50s linear 1s infinite;

}
#Road_marking_2{
    transform: translateX(-100%);
    animation: Road-marking2-left-to-right 50s linear 1s infinite;

} */

/* Tunnel digger machine Blades config for animation */

/* #Drill_blades{
    transform-origin: center;
    animation: Drill-blades-spin 5s ease-in 1s infinite;
} */




/*-------------------------------------------------------------------------------------------------
 Animation  keyframes for footer elements
 --------------------------------------------------------------------------------------------------   
 */

@keyframes Yellow-car-left-to-right{
    0%{
        transform: translateX(-3%);
        visibility: visible;

    }
    
    90%{
        
        transform: translateX(100%);
        visibility: hidden;
        
    }
}
@keyframes Magenta-car-left-to-right {
    
    0%{
        transform: translateX(-8%);
        visibility: visible;

    }
    
    88.89%{
        
        transform: translateX(100%);
        visibility: hidden;
       
    }
} 
@keyframes Green-airship-left-to-right {

    0%{
        transform: translateX(-5%);
        visibility: visible;
    }
    95.84%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}
@keyframes Pink-airship-right-to-left  {
    0%{
        
        transform: translateX(4%);
        visibility: visible;
    }
    95.24%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@keyframes Orange-car-right-to-left  {
    0%{
        
        transform: translateX(17%);
        visibility: visible;
    }
    90.91%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@keyframes Pink-car-right-to-left  {
    0%{
        transform: translateX(11%);
        visibility: visible;
    }
    88.89%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@keyframes Blue-bus-right-to-left  {
    0%{
        transform: translateX(7%);
        visibility: visible;
    }
    88.89%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@keyframes Yellow-carrier-machine-right-to-left  {
    0%{
        transform: translateX(13%);
        visibility: visible;
    }
    37.5%{
        transform: translateX(-46%);
    }
    50%{
        transform: translateX(-46%);
    }
    87.5%{
        transform: translateX(13%);
       
    }
    100%{
        transform: translateX(13%);
        visibility: hidden;
    }
    
}

@keyframes Concrete-panel-right-to-left {
    0%{
        transform: translateX(13%);
        visibility: visible;
    }
    37.5%{
        transform: translateX(-46%);
    }
    100%{
        transform: translateX(-46%);
        visibility: hidden;
    }
    
}

@keyframes Drill-shaft-right-to-left {
  
    100%{
        transform: translateX(-2.5%);
    }
}


@keyframes Dirt-left-to-right {
  
    75%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(100%);
    }
}

/* @keyframes City1-left-to-right{
  

    66.66%{
        transform: translateX(100%);
        visibility: hidden;
    }
    66.67%{
        transform: translateX(-50%);
        visibility: visible;

    }
    100%{

        transform: translateX(0%);
    }
}

@keyframes City2-left-to-right{
    
    33.33%{
        transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        transform: translateX(-50%);
    }
    100%{

        transform: translateX(0%);
    }
} */

@keyframes City3-left-to-right{
  
    33.33%{
        transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        transform: translateX(-50%);
    }
    100%{

        transform: translateX(0%);
    }
}

@keyframes City4-left-to-right{
  
    66.66%{
        transform: translateX(100%);
        visibility: hidden;
    }
    66.67%{
        transform: translateX(-50%);
        
    }
    100%{

        visibility: visible;

        transform: translateX(0%);
    }
}


@keyframes City5-left-to-right{
    0%{
        visibility: visible;

    }

    100%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}

/* @keyframes Road-marking1-left-to-right {
  
    100%{
        transform: translateX(100%);
        
    }
}

@keyframes Road-marking2-left-to-right {
  
    100%{
        transform: translateX(0%);
        
    }
} */

/*  keyframes for drill blades animation */

/* @keyframes Drill-blades-spin{

    100%{
        transform: rotate3d(1,0,0,360deg);
    }

} */












/*--------------------------------------------------------------------------------------------------
 Prefixed Animation keyframes declaration for brpwser preference
 ---------------------------------------------------------------------------------------------------- */


@-webkit-keyframes  Yellow-car-left-to-right{
    0%{
        transform: translateX(-3%);
        visibility: visible;

    }
    
    90%{
        
        transform: translateX(100%);
        visibility: hidden;
        
    }
}
@-webkit-keyframes  Magenta-car-left-to-right {
    
    0%{
        transform: translateX(-8%);
        visibility: visible;

    }
    
    88.89%{
        
        transform: translateX(100%);
        visibility: hidden;
       
    }
} 
@-webkit-keyframes  Green-airship-left-to-right {

    0%{
        transform: translateX(-5%);
        visibility: visible;
    }
    95.84%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}
@-webkit-keyframes  Pink-airship-right-to-left  {
    0%{
        
        transform: translateX(4%);
        visibility: visible;
    }
    95.24%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@-webkit-keyframes  Orange-car-right-to-left  {
    0%{
        
        transform: translateX(17%);
        visibility: visible;
    }
    90.91%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@-webkit-keyframes  Pink-car-right-to-left  {
    0%{
        transform: translateX(11%);
        visibility: visible;
    }
    88.89%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@-webkit-keyframes  Blue-bus-right-to-left  {
    0%{
        transform: translateX(7%);
        visibility: visible;
    }
    88.89%{
        transform: translateX(-100%);
        visibility: hidden;
        
    }
}

@-webkit-keyframes  Yellow-carrier-machine-right-to-left  {
    0%{
        transform: translateX(13%);
        visibility: visible;
    }
    37.5%{
        transform: translateX(-46%);
    }
    50%{
        transform: translateX(-46%);
    }
    87.5%{
        transform: translateX(13%);
       
    }
    100%{
        transform: translateX(13%);
        visibility: hidden;
    }
    
}

@-webkit-keyframes  Concrete-panel-right-to-left {
    0%{
        transform: translateX(13%);
        visibility: visible;
    }
    37.5%{
        transform: translateX(-46%);
    }
    100%{
        transform: translateX(-46%);
        visibility: hidden;
    }
    
}

@-webkit-keyframes  Drill-shaft-right-to-left {
  
    100%{
        transform: translateX(-2.5%);
    }
}

@-webkit-keyframes  Dirt-left-to-right {
  
    75%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(100%);
    }
}


/* 
@-webkit-keyframes Road-marking1-left-to-right {
  
    100%{
        transform: translateX(100%);
        
    }
}

@-webkit-keyframes Road-marking2-left-to-right {
  
    100%{
        transform: translateX(0%);
        
    }
} */



@-webkit-keyframes City3-left-to-right{
  
    33.33%{
        transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        transform: translateX(-50%);
    }
    100%{

        transform: translateX(0%);
    }
}

@-webkit-keyframes City4-left-to-right{
  
    66.66%{
        transform: translateX(100%);
        visibility: hidden;
    }
    66.67%{
        transform: translateX(-50%);
        
    }
    100%{

        visibility: visible;

        transform: translateX(0%);
    }
}


@-webkit-keyframes City5-left-to-right{
    0%{
        visibility: visible;

    }

    100%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}




