body {

    padding: 0%;
    margin: 0%;
    width: 100%;
    height: max-content;
    overflow: hidden;

}

/* #svg_container{
 
    padding: 0;
    margin: 0;
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;

}  */

svg{
    display: flex;
    width: 100%;
    height: 100%;
}


#Animation{

  
    flex-grow: 1;


}

#Yellow_car{

    animation: Yellow-car-left-to-right 30s linear  infinite ;

} 
#Magenta_car{
   
    visibility: hidden;
    animation: Magenta-car-left-to-right 31.5s linear 15s infinite;
    
}

#Green_airship{

    
    animation: Green-airship-left-to-right 125s linear infinite;
}

#Pink_airship{

    visibility: hidden;
    animation: Pink-airship-right-to-left 105s linear 3s infinite;
}

#Orange_car{

    visibility: hidden;
    animation: Orange-car-right-to-left  38.5s linear 10s infinite;
    
}

#Pink_car{
  
    visibility: hidden;
    animation: Pink-car-right-to-left 31.5s  linear 15s infinite;

     
}

#Blue_bus{
  
    
    animation: Blue-bus-right-to-left 31.5s linear infinite;


}

#Yellow_carrier_machine{

     
    animation: Yellow-carrier-machine-right-to-left 40s linear infinite ;

    
}

#Concrete_panels{
    
    animation: Concrete-panel-right-to-left 40s linear infinite ;
    
}

#Drill_shaft{

    animation: Drill-shaft-right-to-left 5s linear infinite alternate;  
    
}

#Dirt_1{

    animation: Dirt-left-to-right 20s linear infinite ;
}

#Dirt_2{

    animation: Dirt-left-to-right 20s linear 5s infinite ;
}

#Dirt_3{

    animation: Dirt-left-to-right 20s linear 10s infinite ;
}

#Bg_city_3{

    
    animation: City3-left-to-right 480s linear 1s infinite; 
}

#Bg_city_4{

    
    animation: City4-left-to-right 480s linear 1s infinite;
}

#Bg_city_5{


    transform: translateX(-50%);
    animation: City5-left-to-right 480s linear 1s infinite;
}



#inner_blades{
    
    transform-origin: 307px 514px;  
    transform: matrix3d(0.31,0,0.95,0,0.00,1,0.00,0,-0.95,0,0.31,0,0,0,0,1) translate(-0.25%);
    animation: Rotation 24s linear infinite;

}

#Road_marking_1{

    animation: Road-marking-1-left-to-right 480s linear 1s infinite;
}

#Road_marking_2{

    transform:translate(-100%);
    animation: Road-marking-2-left-to-right 480s linear 1s infinite;
}

#Cloud1{
 /* 99  -5*/
    

    animation: Cloud-midground-1-left-to-right 400s linear infinite;

}

#Cloud2{
    /* 81 -27 */

    animation: Cloud-foreground-1-left-to-right 200s cubic-bezier(0.65, 0.21, 0.24, 0.76) infinite;

}
#Cloud3{
    /* 65 -39*/

    animation: Cloud-midground-2-left-to-right 400s linear infinite;

}
#Cloud4{
    /* 67  -40*/

    animation: Cloud-midground-3-left-to-right 400s linear infinite;

}
#Cloud5{
    /* 36 -70 */

    animation: Cloud-foreground-2-left-to-right 200s cubic-bezier(0.65, 0.21, 0.24, 0.76) infinite;

}
#Cloud6{

    /* 28 -76*/
   
    animation: Cloud-foreground-3-left-to-right 200s cubic-bezier(0.65, 0.21, 0.24, 0.76) infinite;

}
#Cloud7{
/* 10 -94 */
    animation: Cloud-midground-4-left-to-right 400s linear infinite;

}
#Big_cloud{

    /* cubic-bezier(0.65, 0.21, 0.24, 0.76) faster */
    transform: translate(-10%);
    animation: Big-cloud-left-to-right 600s cubic-bezier(0.54, 0.1, 0.27, 0.76) infinite;

}
#Big_cloud2{
    /* -16 */
    /* 20 */
    transform: translate(-16%);
    animation: Big-cloud-2-left-to-right 600s cubic-bezier(0.54, 0.1, 0.27, 0.76) infinite;
}

#Rocks1{

    animation: Road-marking-1-left-to-right 480s linear 1s infinite;
}

#Rocks2{

    transform: translate(-99%);
    animation: Road-marking-2-left-to-right 480s linear 1s infinite;
}

#Soil1{

    animation: Road-marking-1-left-to-right 480s linear 1s infinite;

}

#Soil2{

    transform:translate(-100%);
    animation: Road-marking-2-left-to-right 480s linear 1s infinite;

}





/*-------------------------------------------------------------------------------------------------
 Animation  keyframes for footer elements
 --------------------------------------------------------------------------------------------------   
 */

@keyframes Yellow-car-left-to-right{
    0%{

        transform: translateX(-3%);
        

    }
    
    90%{
        
        transform: translateX(100%);
       
    }
    100%{

        transform: translateX(100%);

    }
}
@keyframes Magenta-car-left-to-right {
    
    0%{
        
        transform: translateX(-8%);
       
    }
    
    88.89%{
        
        transform: translateX(100%);
      
       
    }
    100%{
        transform: translateX(100%);
    }
} 
@keyframes Green-airship-left-to-right {

    0%{
        transform: translateX(-5%);
        
    }
    95.84%{
        transform: translateX(100%);
        
        
    }
    100%{

        transform: translateX(100%);
    }
}
@keyframes Pink-airship-right-to-left  {
    0%{
        visibility: visible;
        transform: translateX(4%);
        
    }
    95.24%{
        transform: translateX(-100%);
        
        
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes Orange-car-right-to-left  {
    0%{
        
        transform: translateX(17%);
        
    }
    90.91%{
        transform: translateX(-90%)    
    }
    100%{
        transform: translateX(-90%);
    }
}

@keyframes Pink-car-right-to-left  {
    0%{
        transform: translateX(11%);
        
    }
    88.89%{
        transform: translateX(-93%);

        
    }
    100%{
        transform: translateX(-93%)
    }

}

@keyframes Blue-bus-right-to-left  {
    0%{
        transform: translateX(7%);
        
    }
    88.89%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes Yellow-carrier-machine-right-to-left  {
    0%{
        transform: translateX(13%);
        /* visibility: visible; */
    }
    37.5%{
        transform: translateX(-46%);
    }
    50%{
        transform: translateX(-46%);
    }
    87.5%{
        transform: translateX(13%);
       
    }
    100%{
        transform: translateX(13%);
        /* visibility: hidden; */
    }
    
}

@keyframes Concrete-panel-right-to-left {
    0%{
        transform: translateX(13%);
        /* visibility: visible; */
    }
    37.5%{
        transform: translateX(-46%);
    }
    100%{
        transform: translateX(-46%);
        /* visibility: hidden; */
    }
    
}

@keyframes Drill-shaft-right-to-left {
  
    100%{
        transform: translateX(-2.5%);
    }
}


@keyframes Dirt-left-to-right {
  
    75%{
        transform: translateX(48%);
    }
    100%{
        transform: translateX(48%);
    }
}


@keyframes City3-left-to-right{
  
    33.33%{
        transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        transform: translateX(-50%);
    }
    100%{

        transform: translateX(0%);
    }
}

@keyframes City4-left-to-right{
  
    66.66%{
        transform: translateX(100%);
        
    }
    66.67%{
        
        transform: translateX(-50%);

        
    }
    100%{

        visibility: visible;

        transform: translateX(0%);
    }
}


@keyframes City5-left-to-right{
    0%{
        visibility: visible;

    }

    100%{
        transform: translateX(100%);
        visibility: hidden;
        
    }
}

@keyframes Rotation {

    0%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,0deg) ;
        
    }
    8.33%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-60deg) ;
        
    }
    16.66%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-60deg) ;
        
    }
    25%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-120deg) ;
        
    }
    33.32%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-120deg) ;
        
    }
    41.65%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-180deg) ;
        
    }
    50%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-180deg) ;
        
    }
    58.33%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-240deg) ;
        
    }
    66.44%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-240deg) ;
        
    }
    75%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-270deg) ;
        
    }
    83.33%{
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-270deg) ;
        
    }
    91.63%{
        
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-360deg) ;
        
    }
    100%{
        
        transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-360deg) ;
        
    }

}

@keyframes Road-marking-1-left-to-right {

    100%{
        transform: translate(100%);
    }
}
@keyframes Road-marking-2-left-to-right {

    100%{
        transform: translate(0%);
    }
}

@keyframes Big-cloud-left-to-right {

    80%{
        transform: translate(100%);
        visibility: hidden;
        
    }
    80.1%{
       
        transform: translate(-30%);
        visibility: hidden;
    }
    100%{
        
        transform: translate(-10%);
    }

    

}

@keyframes Big-cloud-2-left-to-right {
    
    
    20%{
        
        transform: translate(20%);
        visibility: hidden;

        
        
    }
    20.1%{
        transform: translate(-100%);
        visibility: hidden;

    }
    100%{
        
        transform: translate(-16%);
    }

}
@keyframes Cloud-foreground-1-left-to-right {
     /* 81 -27 */
    65%{
        transform: translate(81%);
        visibility: hidden;
    }
    65.1%{
        transform: translate(-27%);
        visibility: hidden;
    }
    100%{
        transform: translate(0%);
    }
}

@keyframes Cloud-foreground-2-left-to-right {
     /* 36 -70 */
   35%{
       transform: translate(36%);
       visibility: hidden;
   }
   35.1%{
       transform: translate(-70%);
       visibility: hidden;
   }
   100%{
       transform: translate(0%);
   }
}

@keyframes Cloud-foreground-3-left-to-right {
    /* 28 -76*/
  32%{
      transform: translate(28%);
      visibility: hidden;
  }
  32.1%{
      transform: translate(-76%);
      visibility: hidden;
  }
  100%{
      transform: translate(0%);
  }
}

@keyframes Cloud-midground-1-left-to-right {
     /* 99  -5*/
  94%{
      transform: translate(99%);
      visibility: hidden;
  }
  94.1%{
      transform: translate(-5%);
      visibility: hidden;
  }
  100%{
      transform: translate(0%);
  }
}
@keyframes Cloud-midground-2-left-to-right {
     /* 65 -39*/
  60%{
      transform: translate(65%);
      visibility: hidden;
  }
  60.1%{
      transform: translate(-39%);
      visibility: hidden;
  }
  100%{
      transform: translate(0%);
  }
}

@keyframes Cloud-midground-3-left-to-right {
     /* 67  -40*/
    60%{
      transform: translate(67%);
      visibility: hidden;
  }
  60.1%{
      transform: translate(-40%);
      visibility: hidden;
  }
  100%{
      transform: translate(0%);
  }
}

@keyframes Cloud-midground-4-left-to-right {
    
    /* 10 -94 */
  9%{
      transform: translate(10%);
      visibility: hidden;
  }
  9.1%{
      transform: translate(-94%);
      visibility: hidden;
  }
  100%{
      transform: translate(0%);
  }
}

/*--------------------------------------------------------------------------------------------------
 Prefixed Animation keyframes declaration for browser preference
 ---------------------------------------------------------------------------------------------------- */

 @-webkit-keyframes Yellow-car-left-to-right{
    0%{
        -webkit-transform: translateX(-3%);
    

    }
    
    90%{
        
        -webkit-transform: translateX(100%);
    
    }
    100%{

        -webkit-transform: translateX(100%);

    }
}
@-webkit-keyframes Magenta-car-left-to-right {
    
    0%{
        -webkit-transform: translateX(-8%);
        

    }
    
    88.89%{
        
        -webkit-transform: translateX(100%);
       
       
    }
    100%{
        -webkit-transform: translateX(100%);
    }
} 
@-webkit-keyframes Green-airship-left-to-right {

    0%{
        -webkit-transform: translateX(-5%);
       
    }
    95.84%{
        -webkit-transform: translateX(100%);
        
        
    }
    100%{

        -webkit-transform: translateX(100%);
    }
}
@-webkit-keyframes Pink-airship-right-to-left  {
    0%{
        
        -webkit-transform: translateX(4%);
        
    }
    95.24%{
        -webkit-transform: translateX(-100%);
        
        
    }
    100%{
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes Orange-car-right-to-left  {
    0%{
        
        -webkit-transform: translateX(17%);
       
    }
    90.91%{
        -webkit-transform: translateX(-90%)    
    }
    100%{
        -webkit-transform: translateX(-90%);
    }
}

@-webkit-keyframes Pink-car-right-to-left  {
    0%{
        visibility: visible;
        -webkit-transform: translateX(11%);
        
    }
    88.89%{
        
        -webkit-transform: translateX(-93%);

        
    }
    100%{
        -webkit-transform: translateX(-93%)
    }

}

@-webkit-keyframes Blue-bus-right-to-left  {
    0%{
        -webkit-transform: translateX(7%);
       
    }
    88.89%{
        -webkit-transform: translateX(-100%);
        
    }
    100%{
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes Yellow-carrier-machine-right-to-left  {
    0%{
        -webkit-transform: translateX(13%);
        
    }
    37.5%{
        -webkit-transform: translateX(-46%);
    }
    50%{
        -webkit-transform: translateX(-46%);
    }
    87.5%{
        -webkit-transform: translateX(13%);
       
    }
    100%{
        -webkit-transform: translateX(13%);
        
    }
    
}

@-webkit-keyframes Concrete-panel-right-to-left {
    0%{
        -webkit-transform: translateX(13%);
        
    }
    37.5%{
        -webkit-transform: translateX(-46%);
    }
    100%{
        -webkit-transform: translateX(-46%);
        
    }
    
}

@-webkit-keyframes Drill-shaft-right-to-left {
  
    100%{
        -webkit-transform: translateX(-2.5%);
    }
}


@-webkit-keyframes Dirt-left-to-right {
  
    75%{
        -webkit-transform: translateX(48%);
    }
    100%{
        -webkit-transform: translateX(48%);
    }
}


@-webkit-keyframes City3-left-to-right{
  
    33.33%{
        -webkit-transform: translateX(50%);
        visibility: hidden;     
    }
    33.34%{
        
        -webkit-transform: translateX(-100%);
    }
    66.66%{
        visibility: visible;
        -webkit-transform: translateX(-50%);
    }
    100%{

        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes City4-left-to-right{
  
    66.66%{
        -webkit-transform: translateX(100%);
        
    }
    66.67%{
        
        -webkit-transform: translateX(-50%);

        
    }
    100%{

        visibility: visible;

        -webkit-transform: translateX(0%);
    }
}


@-webkit-keyframes City5-left-to-right{
    0%{
        visibility: visible;

    }

    100%{
        -webkit-transform: translateX(100%);
        visibility: hidden;
        
    }
}

@-webkit-keyframes Rotation {


    0%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,0deg) ;
        
    }
    8.33%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-60deg) ;
        
    }
    16.66%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-60deg) ;
        
    }
    25%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-120deg) ;
        
    }
    33.32%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-120deg) ;
        
    }
    41.65%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-180deg) ;
        
    }
    50%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-180deg) ;
        
    }
    58.33%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-240deg) ;
        
    }
    66.44%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-240deg) ;
        
    }
    75%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-270deg) ;
        
    }
    83.33%{
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-270deg) ;
        
    }
    91.63%{
        
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-360deg) ;
        
    }
    100%{
        
        -webkit-transform: matrix3d(0.28,0,0.96,0,0.00,1,0.00,0,-0.96,0,0.28,0,0,0,0,1) translate(-0.25%) rotate3d(0,0,1,-360deg) ;
        
    }

}





